@model IEnumerable<Room>

@{
    ViewData["Title"] = "Index";
}

<h2>Odalar</h2>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Oda Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtelId)
            </th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
