@model BookingViewModel

@{ ViewData["Title"] = "Index";
                int year = Model.YearToDisplay; }



<form asp-action="Index">
    <input type="hidden" asp-for="@TempData["bookingId"]" />
    <div class="row">
        <div class="col-md-4">
            <h2>Rezervasyonlar</h2>
            <p>
                <a asp-action="Create" class="btn btn-primary btn-sm">Yeni Rezervasyon</a>
            </p>
        </div>
        <div class="col-md-9">
            <table class="table">
                <tr>
                    <th>@year</th>
                    @for (int day = 1; day <= 31; day++)
                    {
        <th>@day</th>}
                </tr>

                @for (int month = 1; month <= 12; month++)
                {
    <tr>
        <td>
            @Model.GetMonthName(month)
        </td>

        @for (int day = 1; day <= 31; day++)
        {
<td @if (Model.DateIsOccupied(year, month, day)) { <text> class="bg-danger" </text> }></td>}
    </tr>}
            </table>
        </div>
    </div>
</form>
    





<table class="table">
    <thead>
        <tr>
            <th>
                <h4>ID</h4>
            </th>
            <th>
                <h4>Başlangıç Tarihi</h4>
            </th>
            <th>
                <h4>Bitiş Tarihi</h4>
            </th>
            <th>
                <h4>Aktif</h4>
            </th>
            <th>
                <h4>Müşteri ID</h4>
            </th>
            <th>
                <h4>Room ID</h4>
            </th>
            <th>
                <h4>Otel ID</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtelId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>

                @*<form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline">
                    <input type="hidden" name="bookingId" value="@Model.BookingId" />
                    <div class="input-group mb-3">
                        <input type="number" name="quantity" class="form-control" value="1" min="1" step="1" style="width:100px;" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-cart-plus"></i>Add to Cart
                            </button>
                        </div>
                    </div>
                </form>*@

            </td>
        </tr>
        }
    </tbody>
</table>
