<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - ResitalTurizmWEB.UI</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"> @*isapproved icon için*@
    <link rel="stylesheet" href="~/template/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/template/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/template/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/template/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/template/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/template/css/templatemo-style.css">

    <link href="~/css/toastr.min.css" rel="stylesheet" />

    @RenderSection("Css", false)
</head>
<body>

    @await Html.PartialAsync("_navbar")


    <main role="main" class="pb-3 my3">
        @if (TempData["message"] != null) //Tempdata, .Net Core tarafında Session objesini kullanır.
        {
            var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as string);
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-@message.AlertType">
                        @message.Message
                    </div>
                </div>
            </div>
        }
        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now - ResitalTurizm <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/template/js/jquery-1.11.3.min.js"></script>
    <script src="~/template/js/popper.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/datepicker.min.js"></script>
    <script src="~/template/js/jquery.singlePageNav.min.js"></script>
    <script src="~/template/slick/slick.min.js"></script>
    <script src="~/template/js/jquery.scrollTo.min.js"></script>


    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        toastr.options = {
            "closeButton": true,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-left",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "3000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    @if (TempData["SuccessNotification"] != null)
    {
        @foreach (var item in (IList<string>)TempData["SuccessNotification"])
        {
            <script>  toastr.success("@item.ToString()");</script>
        }
    }
    @if (TempData["ErrorNotification"] != null)
    {
        @foreach (var item in (IList<string>)TempData["ErrorNotification"])
        {
            <script>  toastr.error("@item.ToString()");</script>
        }
    }


    @await RenderSectionAsync("Scripts", required: false)
    @*@RenderSection("Scripts", required: false)*@

    <script>
        /* DOM is ready
        ------------------------------------------------*/
        $(function () {

            // Change top navbar on scroll
            $(window).on("scroll", function () {
                if ($(window).scrollTop() > 100) {
                    $(".tm-top-bar").addClass("active");
                } else {
                    $(".tm-top-bar").removeClass("active");
                }
            });

            // Smooth scroll to search form
            $('.tm-down-arrow-link').click(function () {
                $.scrollTo('#tm-section-search', 300, { easing: 'linear' });
            });

            // Date Picker in Search form
            var pickerCheckIn = datepicker('#inputCheckIn');
            var pickerCheckOut = datepicker('#inputCheckOut');

            // Update nav links on scroll
            $('#tm-top-bar').singlePageNav({
                currentClass: 'active',
                offset: 60
            });

            // Slick Carousel
            $('.tm-slideshow').slick({
                infinite: true,
                arrows: true,
                slidesToShow: 1,
                slidesToScroll: 1
            });
        });

    </script>
</body>
</html>
